# Q1.Print numbers from 1 to 5 using a while loop

In [1]:
n = 1
while n<=5:
    print(n)
    n += 1

1
2
3
4
5

# Q2.Calculate the sum of numbers from 1 to 10 using a while loop.

In [2]:
num = 1
sm = 0
while num<=10:
    sm += num
    num+=1
sm

55

# Q3.Calculate the factorial of a number using a for loop.

In [4]:
num = int(input("Enter the number to calculate Factorial : "))
fact = 1
for i in range(1,num+1):
    fact *= i
    
print(f"The factorial is : {fact}")

Enter the number to calculate Factorial : 5
The factorial is : 120

# Q4.Count the number of vowels in a string using a for loop.

In [6]:
l = ['a','e','i','o','u','A','E','I','O','U']
s = 'fantastic'
cnt_vowel = 0
for char in s:
    if char in l:
        cnt_vowel += 1
cnt_vowel

3

# Q5.Print Pattern using nested loops.

In [8]:
#using while
r=0
c = 0
while r<5:
    c = 0
    while c<r:
        print("*",end=' ')
        c+=1
    print()
    r+=1

*
* *
* * *
* * * *

In [9]:
#using for
for i in range(0,5):
    for j in range(0,i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *

# Q6.Generate a multiplication table using nested loops.

In [10]:
print("Do you want to generate a table : ")
print('1.Yes')
print('2.No')
choice = int(input('Enter the Number to choose : '))
while choice == 1:
    num = int(input("Enter the number to generate table : "))
    for mul in range(1,11):
        print(f"{num} * {mul} = {num*mul}")
    print("Do you want to generate a table : ")
    print('1.Yes')
    print('2.No')
    choice = int(input('Enter the Number to choose : '))

Do you want to generate a table :
1.Yes
2.No
Enter the Number to choose : 1
Enter the number to generate table : 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
Do you want to generate a table :
1.Yes
2.No
Enter the Number to choose : 1
Enter the number to generate table : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
Do you want to generate a table :
1.Yes
2.No
Enter the Number to choose : 2