# Q1.Convert an integer to a floating-point number.

In [6]:
a = 10

In [7]:
print(a)

10

In [8]:
type(a)

int

In [9]:
a = float(a)

In [10]:
type(a)

float

In [11]:
print(a)

10.0

# Q2.Convert a float to an integer.

In [12]:
b = 3.5

In [14]:
b

3.5

In [15]:
type(b)

float

In [16]:
b = int(b)

In [17]:
b

3

In [18]:
type(b)

int

# Q3.Convert and integer to a string.

In [19]:
c = 7

In [20]:
c

7

In [21]:
type(c)

int

In [22]:
c = str(c)

In [23]:
c

'7'

In [24]:
type(c)

str

# Q4.Convert a list to a tuple.

In [25]:
l = [1,2,3,4,5]

In [26]:
l

[1, 2, 3, 4, 5]

In [27]:
type(l)

list

In [28]:
t = tuple(l)

In [29]:
t

(1, 2, 3, 4, 5)

In [30]:
type(t)

tuple

# Q5.Convert a tuple to a list

In [31]:
t1 = (1,3,4,5,6)

In [32]:
t1

(1, 3, 4, 5, 6)

In [33]:
type(t1)

tuple

In [34]:
l1 = list(t1)

In [35]:
l1

[1, 3, 4, 5, 6]

In [36]:
type(l1)

list

# Q6.Convert a decimal to binary

In [40]:
dec = 10

In [41]:
dec

10

In [42]:
type(dec)

int

In [43]:
binr = bin(dec)

In [44]:
binr

'0b1010'

In [46]:
binr = binr.replace('0b','')

In [48]:
# it's a str for binary of the decimal
binr

'1010'

# Q7.Convert a non-zero number to boolean

In [49]:
nz = 4

In [50]:
nz

4

In [51]:
nz_bool = bool(nz)

In [52]:
nz_bool

True