# Q1.calculate the sum,difference,product,and quotient of two numbers.

In [1]:
num1 = 10
num2 = 2

In [3]:
#sum
sm = num1 + num2
sm

12

In [4]:
#Difference
df = num1 - num2
df

8

In [5]:
#Product
prd = num1 * num2
prd

20

In [6]:
#Quotient
div = num1 / num2
div

5.0

# Q2.Perform various Assignment Operations on a variable.

In [83]:
# '=' operator

num1 = 10
num1

10

In [84]:
# '+=' operator

num1 += 1
num1

11

In [85]:
# '-=' operator

num1 -= 2
num1

9

In [86]:
# '*=' operator

num1 *= 4
num1

36

In [87]:
# '/=' operator
num1 /= 2
num1

18.0

In [88]:
# '%=' operator
num1 %= 4
num1

2.0

In [89]:
# '//=' operator
num1 //= 2
num1

1.0

In [90]:
num1 = 2

In [91]:
# '**=' operator
num1 **= 2
num1

4

In [92]:
# '&='
num1 &= 4
num1

4

In [93]:
# '|='

num1 |= 1
num1

5

In [94]:
# '^='
num1 ^= 2
num1

7

In [95]:
#'<<='
num1 <<= 1
num1

14

In [96]:
# '>>='
num1 >>= 2
num1

3

# Q3.Compare two numbers and print the results.

In [17]:
nm1 = 2
nm2 = 4

In [18]:
if nm1<nm2:
    print('Nm1 is smaller')

Nm1 is smaller

In [21]:
nm1 = 2
nm2 = 1
if nm1>nm2:
    print("Nm1 is greater")

Nm1 is greater

In [22]:
nm1 = 2
nm2 = 2
if nm1==nm2:
    print("Both Are Equal")

Both Are Equal

In [23]:
nm1 = 2
nm2 = 1
if nm1>=nm2:
    print("Nm1 is greater or equal")

Nm1 is greater or equal

In [24]:
nm1 = 2
nm2 = 4
if nm1<=nm2:
    print("Nm1 is smaller or equal")

Nm1 is smaller or equal

# Q4.check conditions using logical operators.

In [25]:
num1 = 5
num2 = 4
num3 = 2

In [26]:
if (num1>num2) and (num2>num3):
    print('yes')

yes

In [27]:
if (num1>num2) and (num2<num3):
    print('yes')
else:
    print('no')

no

In [28]:
if (num1>num2) or (num2<num3):
    print('yes')
else:
    print('no')

yes

In [29]:
if not(num2>num1):
    print('yes')

yes

In [31]:
if not(num3<num2):
    print('yes')
else:
    print('condition inside not() is true thus result is false')

condition inside not() is true thus result is false

# Q5.Check the identity of variables

In [37]:
s = "pwskills"
s1 = 'PWSKILLS'

In [40]:
type(s)

str

In [41]:
type(s1)

str

In [38]:
if s is s1:
    print("Both are same")

In [39]:
if s is not s1:
    print("Both are different")

Both are different

# Q6.Perform bitwise operations  on any two integers.

In [43]:
a = 2
b = 8

In [44]:
# '&'
a&b

0

In [46]:
# '|'
a | b

10

In [48]:
#'~'
~(b)

-9

In [51]:
#'^'
a^b

10

In [52]:
#'>>'
a>>1

1

In [53]:
b>>1

4

In [54]:
#'<<'
a<<1

4

In [55]:
b<<1

16

# Q7.Use unary operators to chane the sign of a number.

In [97]:
x = 4

In [98]:
-x

-4

In [100]:
x = -5

In [102]:
-x

5

In [103]:
x = 1

In [104]:
+x

1

# Q8.use the ternary operator to assin values based on conditions.

In [105]:
num1 = 2

In [107]:
a = -num1 if num1>0 else num1

In [108]:
print(a)

-2